<a href="https://colab.research.google.com/github/Faizan59khan/learn-python/blob/master/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**String Data Type In Python**

In [ ]:
name: str = "faizan"
print(name)

faizan

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
#ways to used string
a="string"
b='string'
c="""string"""

In [ ]:
#Dictionary
#key value pair
#key replace index
from typing import Dict, Union, Optional
data: Dict[str,str]={"name": "faizan", "age": "23"}
print(data)

{'name': 'faizan', 'age': '23'}

In [ ]:
# Define the custom types
key = Union[str, int]
value = Union[str, int, list, dict, set, tuple]

# Create a variable of type Dict with key and value
data2: Dict[key, value] = {"name": "faizan", "age": 23, "hobbies": ["cricket", "movies"]}
print(data2)

{'name': 'faizan', 'age': 23, 'hobbies': ['cricket', 'movies']}

In [ ]:
#give all public methods of data2
[i for i in dir(data2) if  "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# this will not give run time error if key is not present in data2
data2.get("pakistan","not available")

'not available'

In [ ]:
for k,v in data2.items():
  print("key",k)
  print ("value",v)

key name
value faizan
key age
value 23
key hobbies
value ['cricket', 'movies']

In [ ]:
from typing import Union, Optional, List

def add_numbers(a: Union[int, float], b: Union[int, float]) -> float:
    return a + b

def get_name(prefix: str, suffix: Optional[str] = None) -> str:
    if suffix is not None:
        return f"{prefix} {suffix}"
    else:
        return prefix

In [ ]:
add_numbers(2,3)

5

In [ ]:
#List Comprehension
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numbers: List[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers: List[int] = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#for else loop
for i in range(5):
    print(i)
else:
    print("Loop completed without break")

0
1
2
3
4
Loop completed without break

In [ ]:
fruits: List[str] = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "kiwi":
        print("Found")
        break
else:
    print("Not found")

Not found

In [ ]:
fruits = ["apple", "banana", "kiwi"]
for fruit in fruits:
    if fruit == "kiwi":
        print("Found")
        break
else:
    print("Not found")

Found

In [ ]:
#zip function
names: List[str] = ["John", "Jane", "Bob"]
ages: List[int] = [30, 25, 35]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

John is 30 years old
Jane is 25 years old
Bob is 35 years old